<mat-card>
    <h1>Update Quiz</h1>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form *ngIf="quiz" (submit)="updateQuiz()">
          
            <mat-form-field class="w100" appearance="outline">
            <mat-label>Enter Title</mat-label>
            <input type="text" [(ngModel)]="quiz.title" name="title" placeholder="Enter Title" matInput/>
          </mat-form-field>
  
          <!-- description -->
          <mat-form-field class="w100" appearance="outline">
            <mat-label>Enter Description</mat-label>
            <textarea
              [(ngModel)]="quiz.description"
              type="text"
              name="description"
              placeholder="Enter Description"
              matInput
              rows="5"
            ></textarea>
          </mat-form-field>
  
          <div class="row">
            <div class="col-md-6">
              <!-- Max Marks -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Max Marks</mat-label>
                <input
                  [(ngModel)]="quiz.maxMarks"
                  type="text"
                  name="maxMarks"
                  placeholder="Enter Maximum Marks"
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <!-- Number of Questions of be Displayed -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>No. Of Questions</mat-label>
                <input
                  [(ngModel)]="quiz.numberOfQuestions"
                  type="text"
                  name="numberOfQuestions"
                  placeholder="Enter No. Of Questions"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>
  
          <!-- active fields -->
          <mat-slide-toggle
            name="active"
            [(ngModel)]="quiz.active"
            class="example-margin">
            Publish Status
          </mat-slide-toggle>
          <br/>
          <!-- Category Selection -->
          <mat-form-field appearance="fill" style="margin-top: 20px;" class="w100">
              <mat-label>Select Category</mat-label>
              <mat-select name="category" [(ngModel)]="quiz.category.cid">
                <mat-option *ngFor="let c of categories" [value]="c.cid">
                    {{c.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="container text-center">
                <button mat-raised-button color="primary">Update Quiz</button>
            </div>
        </form>
      </div>
    </div>
  </mat-card>
